.Style1{font-family: 'STIXTwoText','STIX Two Text';
font-size: 18px; 
margin:0;
word-wrap: break-word;}
.linkStyle_2{font-family: 'STIXTwoText','STIX Two Text';
font-size: 18px; 
color: #FE2F91;
text-decoration: underline; 
/*000#00F900#FE2F91#FE2F91*/
word-wrap: break-word;}
a.linkStyle_2:visited{color:#FE2F91; text-decoration:underline;}
a.linkStyle_2:hover{color:#FE2F91; text-decoration:underline;}
.Style5{font-family: 'STIXTwoText','STIX Two Text';
font-size: 18px; 
word-wrap: break-word;}
.linkStyle_6{font-family: 'STIXTwoText_Bold','STIX Two Text';
font-size: 18px; 
color: #FE2F91;
text-decoration: underline; 
/*000#00F900#FE2F91#FE2F91*/
word-wrap: break-word;}
a.linkStyle_6:visited{color:#FE2F91; text-decoration:underline;}
a.linkStyle_6:hover{color:#FE2F91; text-decoration:underline;}
.Style9{font-family: 'STIXTwoText','STIX Two Text';
font-size: 14px; 
margin:0;
word-wrap: break-word;}
.linkStyle_10{font-family: 'STIXTwoText','STIX Two Text';
font-size: 14px; 
color: #FE2F91;
text-decoration: underline; 
/*000#00F900#FE2F91#FE2F91*/
word-wrap: break-word;}
a.linkStyle_10:visited{color:#FE2F91; text-decoration:underline;}
a.linkStyle_10:hover{color:#FE2F91; text-decoration:underline;}
.Style13{font-family: 'STIXTwoText','STIX Two Text';
font-size: 14px; 
word-wrap: break-word;}
.linkStyle_14{font-family: 'STIXTwoText_Bold','STIX Two Text';
font-size: 14px; 
color: #FE2F91;
text-decoration: underline; 
/*000#00F900#FE2F91#FE2F91*/
word-wrap: break-word;}
a.linkStyle_14:visited{color:#FE2F91; text-decoration:underline;}
a.linkStyle_14:hover{color:#FE2F91; text-decoration:underline;}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}