.Style1{font-family: 'Georgia',serif;
font-size: 14px; 
margin:0;
word-wrap: break-word;}
.Style2{font-family: 'Georgia-Bold','Georgia',serif;
font-size: 14px; 
font-weight:700; 
margin:0;
word-wrap: break-word;}
.Style3{font-family: 'Georgia-Italic','Georgia',serif;
font-size: 14px; 
font-style: italic;
margin:0;
word-wrap: break-word;}
.Style4{font-family: 'Georgia-BoldItalic','Georgia',serif;
font-size: 14px; 
font-weight:700; 
font-style: italic;
margin:0;
word-wrap: break-word;}
.Style5{font-family: 'Georgia-Bold','Georgia',serif;
font-size: 14px; 
font-weight:700; 
font-style: normal;
word-wrap: break-word;}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}