
html {
    height: 100%;
}

body {
    background-color: #ffffff;
    color: #000000;
    height: 95%;
}

.main {
    width: 100%;
    height: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    horizontal-align: middle;
}

#almapura_title {
    font-size: 100px;
    font-weight: bold;
}

#app_store_img {
    height: 90px;
    padding: 25px;
}

#play_store_img {
    height: 91px;
    padding: 25px;
}

